.masonary .span2{width: 150px !important; margin-left: 10px; margin-bottom: 10px;}
.fixed{position: fixed; top: 0; left: 0; height: 80%; background: rgba(255, 255, 255, 0.7); z-index: 99; display: none;}

.two-col.masonary .span2{width: 300px !important;}

@media (min-width: 768px) and (max-width: 979px) {

}	
@media (max-width: 767px) {
	.span2{width: 104px; float: left;}
	.span8{float: left; width: 330px; margin-left: 60px;}

}
@media (max-width: 480px) {}
@media (min-width: 1200px) {
	.masonary{}

}